/* Width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #000;
} */




/* Scrollbar width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f2f2f2, #e6e6e6);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #555, #111);
  border: 1px solid #e6e6e6;
  border-radius: 5px; 
  transition: all 0.3s ease;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #000, #444);
}

/* Active (dragging) */
::-webkit-scrollbar-thumb:active {
  background: #000;
}



* {
  scrollbar-width: thin;
  scrollbar-color: #222 #e6e6e6;
}

